parameters:
    level: 7
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - { message: '#Unreachable statement - code above always terminates#', path: '%rootDir%/../../../src/Spryker/ZedRequest/src/Spryker/Shared/ZedRequest/Client/AbstractHttpClient.php' }
        - '#Dead catch \- GuzzleHttp\\Exception\\RequestException is never thrown in the try block.#'
        - '#Parameter \#3 \$requestOptions of method .+\\AbstractZedClientInterface::call\(\) expects array\|null, array\|int\|null given.#'
        - '#Call to an undefined method ReflectionType\:\:isBuiltin\(\)#'
        - '#Call to an undefined method ReflectionType\:\:getName\(\)#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            identifier: trait.unused
        -
            identifier: phpDoc.parseError
        -
            identifier: missingType.property
        -
            identifier: function.alreadyNarrowedType
        -
            identifier: instanceof.alwaysTrue
        -
            identifier: varTag.nativeType
